USE [master]
GO
/****** Object:  Database [GH.Savings]    Script Date: 10/14/2022 12:29:31 PM ******/
CREATE DATABASE [GH.Savings]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GH.Savings', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GH.Savings.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GH.Savings_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GH.Savings_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GH.Savings].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GH.Savings]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 10/14/2022 12:29:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[PaymentOption] [varchar](50) NOT NULL,
	[Amount] [int] NULL,
	[SessionId] [nchar](200) NULL,
 CONSTRAINT [PK_contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
